In [1]:
# Create a DataFrame with columns: Name (5 random names), Age (5 random integers between 18 and 30),
# City (5 different cities)

In [3]:
import pandas as pd

In [12]:
data = [
    ["Alice", 25, "Delhi"],
    ["Bob", 30,"Mumbai"],
    ["Charlie", 35, "Hyderabad"],
    ["Suraj", 19, "Kolkata"],
    ["Shubham", 20, "Benguluru"]
]

In [14]:
data

[['Alice', 25, 'Delhi'],
 ['Bob', 30, 'Mumbai'],
 ['Charlie', 35, 'Hyderabad'],
 ['Suraj', 19, 'Kolkata'],
 ['Shubham', 20, 'Benguluru']]

In [18]:
df = pd.DataFrame(data, columns = ["Name", "Age", "City"])
print(df)

      Name  Age       City
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Hyderabad
3    Suraj   19    Kolkata
4  Shubham   20  Benguluru