In [24]:
# Create a pandas Series of 10 random integers between 1 and 100.
import numpy as np
import pandas as pd

data = np.random.randint(1, 101, 10)  # 10 random integers between 1 and 100
series = pd.Series(data)

print(series)

0    62
1    46
2    91
3    76
4    97
5    13
6    51
7    12
8     9
9    60
dtype: int32

In [26]:
data2 = np.random.randint(2, 200, 5)

In [32]:
series = pd.Series(data2)
print(series)

0    119
1    151
2     54
3    121
4     22
dtype: int32

In [34]:
# this is not a random numbers
data3 = np.arange(1, 101, 2)

In [36]:
series = pd.Series(data3)

In [38]:
print(series)

0      1
1      3
2      5
3      7
4      9
5     11
6     13
7     15
8     17
9     19
10    21
11    23
12    25
13    27
14    29
15    31
16    33
17    35
18    37
19    39
20    41
21    43
22    45
23    47
24    49
25    51
26    53
27    55
28    57
29    59
30    61
31    63
32    65
33    67
34    69
35    71
36    73
37    75
38    77
39    79
40    81
41    83
42    85
43    87
44    89
45    91
46    93
47    95
48    97
49    99
dtype: int32

In [40]:
data4 = np.random.randint(1, 101, 10)
data4

array([97, 29, 78, 88, 52, 53, 75, 17, 57, 86])

In [42]:
series = pd.Series(data4)

In [46]:
print(f"The random series are = \n{series}")

The random series are =
0    97
1    29
2    78
3    88
4    52
5    53
6    75
7    17
8    57
9    86
dtype: int32