In [1]:
# Set Name column as index.

In [3]:
import pandas as pd

In [6]:
data = [
    ["Alice", 25, "Delhi"],
    ["Bob", 30,"Mumbai"],
    ["Charlie", 35, "Hyderabad"],
    ["Suraj", 19, "Kolkata"],
    ["Shubham", 20, "Benguluru"]
]

In [15]:
df = pd.DataFrame(data, columns = ["Name", "Age", "City"])
set_col_name = df.set_index("Name")
print(set_col_name)

         Age       City
Name
Alice     25      Delhi
Bob       30     Mumbai
Charlie   35  Hyderabad
Suraj     19    Kolkata
Shubham   20  Benguluru

In [29]:
# selecting the age and city
select_age_city = df[["Age", "City"]]

In [31]:
print(select_age_city)

   Age       City
0   25      Delhi
1   30     Mumbai
2   35  Hyderabad
3   19    Kolkata
4   20  Benguluru